<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">

        <title>Andrew Moss</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    </head>
    <body>
        <header>
            <%# <img src="astronomy-beautiful-clouds-355465.jpg" alt="Astronomy Clouds"/> %>
            <div class="sm_icons">
                <h1>Andrew Moss</h1>
                <ul>
                    <div class="links">
                        <li> 
                            <a href="https://www.linkedin.com/in/andrew-moss-91325016/" target="_blank"> 
                            <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/drewmoss86" target="_blank">
                            <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:drew.moss86@gmail.com" target="_top">
                            <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
                <%# <i class="far fa-caret-square-down"></i> %>
        </header>
        <nav>
            <ul>
                <li> <a href="#"> <strong>Home</strong> </a> </li>
                <li> <a href="#About"> <strong>About</strong> </a> </li>
                <li> <a href="#"> <strong>Resume</strong> </a> </li>
                <li> <a href="#"><strong>Contact</strong> </a> </li>
            </ul>
        </nav>
        <article id="About">
            <blockquote>
                <h1>About Me</h1>

                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </blockquote>
        </article>
        <footer>&copy; Andrew Moss</footer>
    </body>


</html>